<div class="chat-header"> <%# チャット画面上部 %>
  <div class="left-header">
    <div class="header-title">
      hoge
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages"><%# チャット表示画面 %>
  <div class="message">
    <div class="top-message">
      <div class="message-user">
      TOM
      </div>
      <div class="message-time">
      2020/3/11 4:00
      </div>
    </div>
    <div class="top-message">
      <div class="message-content">
      おはよう
      </div>
    </div>
  </div>
      <div class="message">
    <div class="top-message">
      <div class="message-user">
      sim
      </div>
      <div class="message-time">
      2020/3/12 4:00
      </div>
    </div>
    <div class="top-message">
      <div class="message-content">
      ohayou
      </div>
    </div>
  </div>
</div>


<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
<%# @room=roomのid、@message=からのインスタンス   両方ともコントローラーで定義している。 %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
