<div class="chat-header"> <%# チャット画面上部 %>
  <div class="left-header">
    <div class="header-title">
      hoge
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages"><%# チャット表示画面 %>
  <div class="message">
    <div class="top-message">
      <div class="message-user">
      TOM
      </div>
      <div class="message-time">
      2020/3/11 4:00
      </div>
    </div>
    <div class="top-message">
      <div class="message-content">
      おはよう
      </div>
    </div>
  </div>
      <div class="message">
    <div class="top-message">
      <div class="message-user">
      sim
      </div>
      <div class="message-time">
      2020/3/12 4:00
      </div>
    </div>
    <div class="top-message">
      <div class="message-content">
      ohayou
      </div>
    </div>




  </div>
</div>

<div class="form"><%# チャット画面下部 %>
  <div class="form-input">
    <input class="message-form" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
   <input class="message-submit" type="submit" value="送信">
</div>