<div class="side-bar-header">
  <a href="#" class="nickname">トム</a>　<%# 細かい変更や修正を加えたいなら、divでa要素を囲った方が融通が効く。今回はこれ以上変更をすることはないからこれでよし %>
  <a href="#" class="chat-start">チャットを作成する</a>
</div>

<div class="rooms">  <%# ルームの大枠 %>
  <div class="room">　<%#  小ルーム%>
    <div class="room-name"> <%# 各ルームの親 %>
      <a href="#">chat-room1</a><%# ルーム名 %>
    </div>
  </div>
  <div class="room"> <%# 小ルーム %>
    <div class="room-name">　　<%# 各ルームの親 %>
      <a href="#">chat-room2</a><%# ルーム名 %>
    </div>
  </
  div>
</div>