<div class="side-bar-header">
  <a href="#" class="nickname">トム</a>
  <a href="#" class="chat-start">チャットを作成する</a>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">chat-room1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">chat-room2</a>
    </div>
  </div>
</div>