<div class="wrapper">    <%# 画面全体 %>
  <div class="side-bar">  <%# 画面の左サイド %>
    <%= render "side_bar" %>  <%# _side_bar.html.erbファイルからデータを持ってくる %>
  </div>
  <div class="chat">   <%# 画面の右サイド %>
    <%= render "main_chat" %>  <%# _main_chat.html.erbファイルからデータを持ってくる %>
  </div>
</div>  